

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 110px 0;
}
.contacts h1 {
    font-family: 'Gilroy';
font-size: 34px;
line-height: 42px;
color: #070707;
margin-bottom: 20px;
}
.contacts-btn {
}
.contacts-socials {
}
.contacts-socials-icons {
}

.contacts-socials-icons img {
    width: 40px;
    height: 40px;
}